@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@theme {
  --color-nba-red: #C9082A;
  --color-nba-blue: #17408B;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
